<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <!-- Load the AWS SDK for JavaScript -->
    <script src="../sdkScripts/aws-sdk-2.487.0.min.js"></script>
    <script src="../sdkScripts/aws-cognito-sdk.min.js"></script>
    <script src="../sdkScripts/amazon-cognito-identity.min.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <div class="login-box">
      <h1>Login</h1>
      <form onsubmit="handleSubmit(); return false;">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
        />
       
		<label for="password">Password</label>
        <div class="input-container">
          <input 
		  type="password" 
		  id="password" 
		  name="password" 
		  placeholder="Enter your password" required>
          <span class="show-password">Show</span>
        </div>
        <div class="form-group">
          <a href="../ForgetPassword\index.html">Forgot Password?</a>
        </div>
        <div class="form-group">
          <div class="button-group">
            <input type="submit" value="Login" />
            <input
              type="button"
              value="Cancel"
              onclick="location.href='./index.html';"
            />
          </div>
          <div class="signup-link">
            <p>Need an account? <a href="../SignUp/index.html">Signup</a></p>
          </div>
        </div>
      </form>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
