<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
    <!-- Load the AWS SDK for JavaScript -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.863.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./index.css" />
  </head>
  <body>
    <div class="reset-password-box">
      <h1>Reset Password</h1>
      <form id="reset-password-form" >
        <label for="otp">OTP</label>
        <input
          type="text"
          id="otp"
          name="otp"
          placeholder="Enter OTP"
          required
        />
        <label for="new-password">Enter a new password</label>
        <div class="input-container">
          <input 
          type="password" 
          id="new-password" 
          name="new-password" 
          placeholder="Password" required>
          <span class="show-password">Show</span>
        </div>
        <label for="confirm-password">Confirm your new password</label>
        <div class="input-container">
          <input 
          type="password" 
          id="confirm-password" 
          name="confirm-password"
          placeholder="Confirm Password" required>
          <span class="show-password">Show</span>
        </div>
        <p id="error-message"></p>
        <input
          type="submit"
          value="Submit"
          onclick="resetPassword(); return false;"
        />
      </form>
    </div>
    <script src="./index.js"></script>
  </body>
</html>